In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('C:\\Users\\Астемир\\Desktop\\ML\\Courses\\coursera\\week1\\citibike.csv')
df.head(3)

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,704,7/1/2016 00:00:02,7/1/2016 00:11:47,459,W 20 St & 11 Ave,40.746745,-74.007756,347,Greenwich St & W Houston St,40.728846,-74.008591,17431,Customer,NaN,0
1,492,7/1/2016 00:00:18,7/1/2016 00:08:31,293,Lafayette St & E 8 St,40.730287,-73.990765,466,W 25 St & 6 Ave,40.743954,-73.991449,24159,Subscriber,1984.0,1
2,191,7/1/2016 00:00:19,7/1/2016 00:03:31,3090,N 8 St & Driggs Ave,40.717746,-73.956001,3107,Bedford Ave & Nassau Ave,40.723117,-73.952123,16345,Subscriber,1986.0,2

# Map

In [3]:
usertype = {'Customer':1,'Subscriber':2}

In [4]:
df['usertype'].map(usertype).head(3)

0    1
1    2
2    2
Name: usertype, dtype: int64

# Apply

Apply можно применить к отдельному столбцу с помощью lambda функций

In [7]:
df['tripduration'].apply(lambda x : x/60).head(5)

0    11.733333
1     8.200000
2     3.183333
3    11.450000
4    10.150000
Name: tripduration, dtype: float64

Apply работает со строками если указать axis=1

In [8]:
df.apply(lambda x : x['tripduration']/60, axis=1).head(5)

0    11.733333
1     8.200000
2     3.183333
3    11.450000
4    10.150000
dtype: float64